html {
  -webkit-tap-highlight-color: transparent;
}

.switch {
    font-weight: bold;
    cursor: pointer;
}

.strong {
    font-weight: bold;
    cursor: pointer;
}

.example-container {
    font-size: .8rem;
    margin-left: 5px;
}

.example-modal {
    position: absolute;
    z-index: 100;
    background-color: white;;
    padding: 10px;
    border: solid 1px black;
    margin-top: 20px;
    margin-left: 10px;
}

.dashboard-container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    outline-style: none;
}

.dashboard-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3E50;
    border-bottom-left-radius: 3mm;
    border-bottom-right-radius: 3mm;
    padding: 5px;
}

.dashboard-head-container h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
}

.dashboard-head-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    padding-left: 5px;
    color: white;
}

.dashboard-body-container {
    display: relative;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-body-container textarea {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    background-color: none;
    border: solid 2px #566573;
}

.item-container {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;  
}

.blue-line {
    border-bottom: solid 1px #D6EAF8 ;
    border-radius: 2mm;
    margin-top: 10px;
}

.list {
    text-align: center;
    cursor: pointer;
}

.item {
    font-size: 1.2rem;
    font-weight: bold;
}

.submit {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color:white;
    border: 0;
    color:black;
    text-align: center;
    transition: all 0.8s;    
}
.submit:hover {
    color:#4095c6;
}

.dashboard-foot-container {
    margin-top: 20px;
    display: block;
    text-align: center;
    bottom: 10px;
}

/* scrollbar */
* {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: inherit;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #E91E63;
    border-radius: 20px;
    border: 3px solid white;
}