::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
html {
  background-color: #0e2e44;
}
.app {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 640px;  
  height: 100vh;
  margin: 0 auto;
  border-radius: 2mm;
}
.kirk {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 30px 0 0 15px;
  font-size: 2.2rem;
}
#add-remove {
  display: none;
}
#add-showing {
  position: absolute;
  background: transparent;
  border: transparent;
  color: #fff;
  font-size: 3em;
  left: 180px;
  top: 20px;
  transition: .7s;
}
#add-showing:hover {
  color: #009aec;
  transition: .7s;
}
.container {
  position: relative;
  margin: 30px 10px 10px 10px;
  height: 65vh;
  border-top: 5px solid #007dc1;
  border-left: 5px solid #007dc1;
  border-right: 5px solid #005d8f;
  border-bottom: 5px solid #005d8f;
}
.input-form {
  height: 65vh;
}
.input-form textarea {
  width: 100%;
  height: 100%;
  font-size: 2.3em;
  box-sizing: border-box;
}
.list {
  height: 65vh;
  /* font-size: 2em; */
}
ul {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
  height: 65vh;
}
li {
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Not implemented yet */
  -o-user-select: none;
  user-select: none;  
}
.line {
  border-bottom: .5px solid #0e2e44;
  margin: 0 5px 5px 5px;
}
.btn {
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
  font-size: 2.2rem;
  width: 100%;
  margin: 20px 0;
	padding: 6px 24px;
	text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  border-top: 1px solid #007dc1;
  border-left: 1px solid #007dc1;
  border-right: 1px solid #005d8f;
  border-bottom: 1px solid #005d8f;
}
.btn:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn:active {
	position: relative;
  top: 1px;
}
@media(max-width: 1000px) {
  .kirk {
    font-size: 1.9em;
    margin: 15px 0 -15px 10px;
  }
  #add-showing {
    margin: -18px 0 0 -25px;
  }
  .input-form textarea {
    border: none;
    font-size: 1.4em;
  }
  .list li {
    font-size: 1.4em;
  }
  .btn {
    font-size: 1.6em;
  }
}